# GVTIW Leave Management System Environment Variables

# Optional custom Google Apps Script Web App JSON API endpoint
# If left blank or unreachable, built-in secure in-memory backend is used
VITE_API_ENDPOINT=https://script.google.com/macros/s/AKfycbwOFYdJB_DWZFpKkFh7DxERzmkGNREZuBhyCptqTf7-c8vD0zLI1CGeA-fiSRQ-xo94/exec

# AI Studio Environment Configuration
DISABLE_HMR=false
GEMINI_API_KEY=
